{% extends "LPPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block lpplatform_body %}

    <h2>Editer une annonce de voiture</h2>

    <p>Bientot le formulaire d'edition ! </p>

{% endblock %}