{% extends "LPCoreBundle::layout.html.twig" %}

{% block title %}
    Page d'accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <h3>Qui somme nous ?</h3>
    <p>
        Créé en avril 2013 le garage Héritier se veux une entreprise proche de ces clients. Nos maîtres mots sont
        « proximité et disponibilité ». Nous attachons aussi beaucoup d’importance à la qualité de notre travail, de
        l’accueil et des réponses au clients.
    </p>

    <p>
        Jeunes et dynamique nous souhaitons être au plus proche de nos client. D’où la création de moyen numérique.
    </p>

    <p>
        L’observation de notre métier nous conduit à surfer sur une saisonnalité (pneus, révision, clim, batterie,
        …etc). Administrer un site web ou un page Facebook serai pour nous l’occasion de communiqué les offres du moment
        et surtout de piloté avec qualité la saisonnalité face à nos clients.
    </p>

    <p>
        Passionné depuis toujours d’automobile, nous pensons que les avis et les critiques de notre marché peuvent
        intéresser nos clients et futurs clients. La création d’une newsletter permettrait au consommateur final d’avoir
        un avis sur l’intérêt qu’il porte à un produit ou à un sujet.
    </p>
    <p>
        Le marché de la vente de véhicule est aujourd’hui confronté à des offres très agressive de la part des
        constructeurs (les argus + chez Renault) mais surtout des mandataire (Aramis). Ces mandataires n’hésitent
        pas à afficher directement leur tarifs remisé sur des site web ainsi que leur stock ou leur arrivages. Internet
        deviens donc un acteur indispensable au commerce de véhicule qu’ils soient neufs ou d’occasions. C’est d’autant
        plus marquant pour le véhicule d’occasion, le clients n’hésite plus à faire des kilomètres pour tomber sur « la
        bonne affaire ». Nous aimerions donc avoir une vitrine sur le net pour notre activité vente de véhicule.
    </p>




{% endblock body %}